* {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: monospace;
}

body {
  background-color: black;
}

#env {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  transform: scale(1);
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

#env-canvas {
  top: 0;
  left: 0;
  position: relative;
  background-color: #0e1318;
}

#console-button {
  z-index: -1;
  left: -40px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  border-radius: 10% 00% 0% 10%;
  width: 40px;
}

.rounded-button {
  position: fixed;
  width: 70px;
  height: 50px;
  background: rgba(150, 220, 253, 0.5);
  backdrop-filter: blur(5px);
  color: #8f8;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  text-decoration: none;
  transition: background 0.2s;
  font-weight: bold;
  font-size: 32px;
  transition: all 1s;
}

#cons {
  right: -40vw;
  width: 40vw;
  height: 35%;
  top: calc(100% - (35% / 2) - 15px);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  position: fixed;
  bottom: 15px;
  transition: all 1s;
  overflow: visible;
}

.panel {
  backdrop-filter: blur(5px);
  border-radius: 6px;
}

#console > span {
  flex: 0 0 24px;
}

#console {
  height: 100%;
  overflow-y: scroll;
  overflow-x: auto;
  display: flex;
  flex-direction: column-reverse;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
  transition: all 1s ease;
}

#console span:hover {
  background: rgba(0, 0, 0, 1);
  transition: all 0.5s ease;
}

#console span {
  color: rgba(136, 255, 136, 1);
  font-family: monospace;
  font-size: 16px;
  background: rgba(0, 0, 0, 0);
  transition: all 0.5s ease;
}

#console::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

#console::-webkit-scrollbar-thumb {
  background-color: rgba(136, 255, 136, 0.5);
  border-radius: 3px;
}

#org-prof {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  height: 75vh;
  width: 40vh;
  display: none;
  background-color: rgba(255, 0, 255, 0.1);
  position: absolute;
  left: 20px;
  top: 50%;
  color: white;
  font-size: 40px;
  flex-direction: row;
  text-align: center;
}

#org-pos {
  display: flexbox;
  flex-direction: column;
}
