:root {
  --panel-color: rgba(0, 0, 0, 0.5);
  --text-color: rgba(136, 255, 136, 1);
  --scrollbar-color: rgba(136, 255, 136, 0.5);
  --override-color: rgba(188, 62, 219, 1);
  --select-color: rgba(136, 255, 136, 0.1);
  --button-color: rgba(150, 220, 253, 0.5);
  cursor: crosshair;
}

* {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: monospace;
}

body {
  background-color: black;
}

#env {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  transform: scale(1);
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

#env-canvas {
  top: 0;
  left: 0;
  position: relative;
  background-color: #0e1318;
}

#console-button {
  z-index: -1;
  left: -40px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  border-radius: 10% 00% 0% 10%;
  width: 40px;
}

.rounded-button {
  position: fixed;
  width: 70px;
  height: 50px;
  background: rgba(150, 220, 253, 0.5);
  backdrop-filter: blur(5px);
  color: var(--text-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  text-decoration: none;
  transition: background 0.2s;
  font-weight: bold;
  font-size: 32px;
  transition: all 1s;
  outline: none;
}

#cons {
  right: -40vw;
  width: 40vw;
  height: 35%;
  top: calc(100% - (35% / 2) - 15px);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  position: fixed;
  bottom: 15px;
  transition: all 1s;
  overflow: visible;
}

.panel {
  backdrop-filter: blur(5px);
  border-radius: 6px;
  background: var(--panel-color);
}

#console > span {
  flex: 0 0 24px;
}

#console {
  height: 100%;
  overflow-y: scroll;
  overflow-x: auto;
  display: flex;
  flex-direction: column-reverse;
  box-sizing: border-box;
  transition: all 1s ease;
}

#console span:hover {
  background: rgba(0, 0, 0, 1);
  transition: all 0.5s ease;
}

#console span {
  color: var(--text-color);
  font-family: monospace;
  font-size: 16px;
  transition: all 0.5s ease;
}

#console::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

#console::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 3px;
}

#profile-bar {
  /* position: fixed; */
  background: var(--scrollbar-color);
  height: 30px;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  padding: 5px 5px 10px;
  color: rgba(0, 0, 0, 1);
  width: 100%;
}

#dorg-prof {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  height: 0vh;
  width: 40vh;
  display: flex;
  position: fixed;
  left: 20px;
  color: white;
  font-size: 40px;
  flex-direction: column;
}

table {
  border: none;
  font-size: 20px;
  width: 100%;
}

.stat-name {
  padding-left: 10px;
  text-align: left;
}

.stat-val {
  padding-right: 10px;
  text-align: right;
}

.stat-row {
  height: 20px;
  font-size: 25px;
}

.stat-row:hover {
  background-color: var(--select-color);
}

#override-container {
  height: 100%;
  width: 100%;
  justify-content: center;
  display: flex;
  position: relative;
}

#override {
  width: 64px;
  height: 64px;
  font-size: 40px;
  margin: auto;
  padding: 0px;
  position: absolute;
  bottom: 20px;
  background-color: var(--override-color);
  border-radius: 5px;
  outline: none;
  border: none;
}

#override:hover {
  cursor: pointer;
}

#flower {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  height: 80vh;
  width: 80vw;
  display: flex;
  position: fixed;
  left: calc(50% - 80vw / 2);
}